<% include partials/header %>

    <div class="container">

        <div class="jumbotron text-light">
            <h1>The Great RGB Color Game!
                <div>
                    (<span id="jumboR"><span id="letterR">R</span> 255</span> |
                    <span id="jumboG"><span id="letterG">G</span> 255</span> |
                    <span id="jumboB"><span id="letterB">B</span> 255</span>)
                </div>
            </h1>
            <h3>
                By Jay Lin
            </h3>
        </div>

        <nav class="nav navbar-nav navbar-light navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="mr-auto navbar-nav">
                    <li class="nav-item active">
                        <button id="newColors" class="nav-link btn text-light">New Colors</button>
                    </li>
                </ul>
                <ul class="ml-auto navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Difficulty
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a id="easyOption" class="dropdown-item" href="#">Easy</a>
                            <a id="mediumOption" class="dropdown-item active" href="#">Medium</a>
                            <a id="hardOption" class="dropdown-item" href="#">Hard</a>
                            <div class="dropdown-divider"></div>
                            <a id="cheatOption" class="dropdown-item" href="#">Cheat</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            <div class="justify-content-center row">
                <div class="rounded colorBlock easy col-md-3"></div>
                <div class="rounded colorBlock easy col-md-3"></div>
                <div class="rounded colorBlock easy col-md-3"></div>
            </div>
            <div class="justify-content-center row">
                <div class="rounded colorBlock medium col-md-3"></div>
                <div class="rounded colorBlock medium col-md-3"></div>
                <div class="rounded colorBlock medium col-md-3"></div>
            </div>
            <div class="justify-content-center row">
                <div class="rounded colorBlock hard col-md-3"></div>
                <div class="rounded colorBlock hard col-md-3"></div>
                <div class="rounded colorBlock hard col-md-3"></div>
            </div>
        </div>

    </div>

  <% include partials/footer %>
