.btn-sm {
  margin: 2px;
}

.jumbotron {
    text-align: center;
    text-shadow: 0px 3px 10px darkgrey;
    background-color: lightpink;
    padding: 4% 5%;
    margin-bottom: 1%;
}

.container {
    background-color: white;
    margin: auto;
    padding: auto;
    min-width: 475px;
}

.colorBlock {
    max-width: 15%;
    min-width: 15%;
    max-height: 15%;
    min-height: 15%;
    padding-bottom: 7.5%;
    padding-top: 7.5%;
    margin: 1.1% 1.1%;
}

.how-to {
    border: 1px outset white;
    background-color: lightblue;
}

#title {
  font-weight: 700;
  font-size: 150%;
}

#newColors {
    background-color: pink;
    border: 1px outset white;
}

#letterR {
  color: red;
}

#letterG {
  color: green;
  margin-right: 10%;
}

#letterB {
  color: blue;
  margin-right: 10%;
}

#rVal {
  margin-right: 10%;
}

#gVal {
  margin-right: 10%;
}

#bVal {
  margin-right: 10%;
}
